$base-color: #004a80;
$accent-color: #4dad33;
$light-gray: #f9f9f9;
$dark-gray: #333;
$light-blue: lighten($base-color, 20%);
$secondary-font: "Lato", sans-serif;

.responsive-container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.responsive-container img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  filter: blur(2px);
}

.centered-text {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
  width: 600px;
}

.centered-text__header {
  font-size: 4em;
  font-weight: 800;
}

.centered-text__header-color {
  color: $accent-color;
}

.centered-text__button {
  margin-top: 1em;
}

.centered-text h3 {
  font-family: "Lato", sans-serif;
}

@media (max-width: 768px) {
  .centered-text {
    width: 80%;
  }

  .centered-text__header {
    font-size: 2.5em;
  }

  .centered-text h3 {
    font-size: 1.5em;
  }

  .centered-text__button {
    padding: 0.5em 1em;
  }
}
